body, html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
/ / background-color: black;
}

canvas#drawing {
    background-image: url('../nightSky.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 96%;
    margin: 0 auto;
    padding: 0;
}